@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Arian Novin Web!</h1>
        <hr class="my-4">
        <p>Explore the features and navigate through the site using the links below.</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Post")" role="button">View Posts</a>
        <a class="btn btn-success btn-lg" href="@Url.Action("Index", "Course")" role="button">View Courses</a>
    </div>

    <div class="row mt-4">
        <div class="col-md-8">
            <h2>Latest Posts</h2>
            @if (ViewBag.LatestPosts != null && ViewBag.LatestPosts.Count > 0)
            {
                <ul class="list-group">
                    @foreach (var post in ViewBag.LatestPosts)
                    {
                        <li class="list-group-item">
                            <a href="@Url.Action("Details", "Post", new { id = post.PostId })">@post.Title</a>
                            <p>@post.Description</p>
                            <small>Posted by @post.Author?.UserName on @post.CreateDate.ToString("g")</small>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No posts available.</p>
            }

        </div>
        <div class="col-md-4">
            <h2>Join Us</h2>
            <p>
                @if (User.Identity.IsAuthenticated)
                {
                    <text>Welcome back! You can edit your profile here.</text>
                    <a class="btn btn-primary" href="/User/Edit">Edit Profile</a>
                }
                else
                {
                    <text>Become a part of our community. Sign up now to get access to exclusive content and updates.</text>
                    <a class="btn btn-primary" href="/Identity/Account/Register">Sign Up</a>
                }
            </p>
        </div>

    </div>
</div>
